// Add your custom styles below

//Minxis
// Mixin to prefix a property
// @param {String} $property - Property name
// @param {*} $value - Property value
// @param {List} $prefixes (()) - List of prefixes to print
@mixin prefix($property, $value, $prefixes: ()) {
  @each $prefix in $prefixes {
    #{'-' + $prefix + '-' + $property}: $value;
  }
  // Output standard non-prefixed declaration
  #{$property}: $value;
}

//Extendes
%btn-dark-action {
  .btn-dark {
    background-color: $btn-color-pink;
    border-color: $btn-color-pink;
    box-shadow: none;
    color: #fff;

    &:hover {
      background-color: $btn-color-orange;
      border-color: $btn-color-orange;
    }
  }
}
.section-rotate {
  @extend %btn-dark-action;
}

.section-about {
  @extend %btn-dark-action;
}

.btn-dark {
  &:hover {
    background-color: #d40c4a;
    border-color: #d40c4a;
  }
}

.bg-black-color {
  background-color: $bg-color-black;
  color: $white;
}

.service-item {
  display: none;
}
.service-inner {
  display: inline-block;
}

.home {
  .service-item {
    display: inline-block;
  }
  .service-inner {
    display: none;
  }
}
