// Add your custom styles below
%btn-dark-action {
  .btn-dark {
    background-color: $btn-color-pink;
    border-color: $btn-color-pink;
    box-shadow: none;
    color: #fff;

    &:hover {
      background-color: $btn-color-orange;
      border-color: $btn-color-orange;
    }
  }
}
.section-rotate {
  @extend %btn-dark-action;
}

.section-about {
  @extend %btn-dark-action;
}

.btn-dark {
  &:hover {
    background-color: #d40c4a;
    border-color: #d40c4a;
  }
}

.bg-black-color {
  background-color: $bg-color-black;
  color: $white;
}

.service-item {
  display: none;
}
.service-inner {
  display: inline-block;
}

.home {
  .service-item {
    display: inline-block;
  }
  .service-inner {
    display: none;
  }
}
